<!-- Footer -->
	<footer class="footer text-center margin">
	  <div class="container">
		<div class="row">
		  <div class="col-md-4 mb-5 mb-lg-0">
			<h4 class="text-uppercase mb-4 text-warning">Location</h4>
			<p class="lead mb-0">Ahmedabad, Gujarat
			  <br></p>
		  </div>
		  <div class="col-md-4 mb-5 mb-lg-0">
			<h4 class="text-uppercase mb-4 text-warning">Get In Touch</h4>
			<ul class="list-inline mb-0">

			  <li class="list-inline-item">
				<a class="btn btn-outline-light btn-social text-center rounded-circle" href="mailto:rvsolanki0703@gmail.com">
				  <i class="fab fa-fw fa-google-plus-g"></i>
				</a>
			  </li>
			  <li class="list-inline-item">
				<a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://github.com/Rushabh1221">
					<i class="fab fa-fw fa-github" aria-hidden="true"></i>
				</a>
			  </li>
			  <li class="list-inline-item">
				<a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://www.linkedin.com/in/rushabh-solanki-0a8850211">
				  <i class="fab fa-fw fa-linkedin-in"></i>
				</a>
			  </li>
			  <li class="list-inline-item">
				<a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://www.facebook.com/rushabhsinh.solanki">
				  <i class="fab fa-fw fa-facebook-f"></i>
				</a>
			  </li>
			</ul>
		  </div>
		  <div class="col-md-4">
			<h4 class="text-uppercase mb-4 text-warning">About This Website</h4>
			<p class="lead mb-0">This is a Django-based Personal Portfolio Website created by
				<b>Rushabh Solanki</b>.</p>
		  </div>
		</div>
	  </div>
	</footer>