{% extends 'mypf/base.html' %}

{% block content %}

    <!--Header-->
	<header class="masthead text-white text-center">
	  <div class="container">
		<img class="img-fluid mb-5 d-block mx-auto" src="static/mypf/img/profile.png" alt="">
		<h1 style="opacity: 1; transform: none;">
		  I'm
		  <span class="text-warning">RUSHABH SOLANKI</span>
		</h1>
		<h3>Fullstack Web Developer</h3>
		<hr>
		<div style="max-height: 20vh; overflow: hidden;">
		  <h4 style="transform: none;" class="lead">An aspiring and passionate web developer and programmer with positive mindset</h4>
		  <h4 style="transform: none;" class="lead">who is always strive for unique & innovative ideas.</h4>
		</div>
	  </div>
	</header>
<!----------------------------------------------------------------------------------------------------->

	<!--ABOUT ME-->
	<section class="text-white mb-0 margin" id="about">
		<div class="container">
		  <h2 class="text-center text-uppercase text-white text-warning">About Me</h2>
		  <hr class="star-light mb-5">
		  <div class="row">
            <div class="col-md-8 offset-md-2 shadow p-3">
             <ul>
			  <li>
				<div class="lead">
				  <p>Heyy! I'm Rushabh Solanki, an enthusiastic & passionate web developer. I'm currently persuaing B.E. 
					degree in Computer Engineering at LDCE, Ahmedabad.</p>
				</div>  
			  </li> 
			  <li>
				<div class="lead">
				  <p>I'm interested in development and designing. I love to develop and design simple, beautiful
					 and responsive user interfaces and websites.</p>
				</div>  
			  </li> 
			  <li>
				<div class="lead">
				  <p>I'm currently working on my skills. I have some experienced in competitive coding
					as I did some coding related problems.</p>
				</div>  
			  </li> 
			  <li>
				<div class="lead">
				  <p>I'm good team player. I've positive mindset and I'm always eager to learn new
					stuffs especially tech related.</p>
				</div>  
			  </li> 
			  <li>
				<div class="lead">
				  <p>When I'm not on a computer, I enjoy playing cricket & football, watching movies & web series
					and sometimes I love to paint.</p>
				</div>  
			  </li> 
			 </ul>
			</div>
		  </div>
		  <div class="text-center mt-4">
			<a class="btn btn-outline-info" href="/static/mypf/files/MyResume.pdf" download>
			  <i class="fas fa-download mr-2"></i>
			  Download Resume 
			</a>
		  </div>
		</div>
	  </section>	
<!----------------------------------------------------------------------------------------------------->

	<!--SKILLS-->
	<section class="text-white mb-0 margin" id="about">
		<div class="container">
		  <h2 class="text-center text-uppercase text-white text-warning">Skills</h2>
		  <hr class="star-light mb-5">
		  <div class="row">

			<div class="col-md-8 offset-md-2 shadow p-3">
			 <div class="row">

			  <div class="col-md-2 text-center">
				<img src="static/mypf/img/c.png" alt="Cp" height="50px" width="50px"/>  
				<p class="text-center">C</p>
			  </div>
			  <div class="col-md-2 text-center">
				<img src="static/mypf/img/cpp.png" alt="CPP" height="50px" width="50px"/>  
				<p class="text-center">CPP</p>
			  </div>
			  <div class="col-md-2 text-center">
				<img src="static/mypf/img/java.png" alt="Java" height="50px" width="50px"/>
				<p class="text-center">Core Java</p>  
			  </div>
			  <div class="col-md-2 text-center">
				<img src="static/mypf/img/python.png" alt="Python" height="50px" width="50px"/>
				<p class="text-center">Python</p>  
			  </div>
			  <div class="col-md-2 text-center">
				<img src="static/mypf/img/django.svg" alt="Django" height="50px" width="50px"/>
				<p class="text-center">Django</p>  
			  </div>
			  <div class="col-md-2 text-center">
				<img src="static/mypf/img/mysql.svg" alt="MySQL" height="50px" width="50px"/>  
				<p class="text-center">MySQL</p>
			  </div>
			  <div class="col-md-2 text-center mt-5">
				<img src="static/mypf/img/html.png" alt="HTML" height="50px" width="50px"/>  
				<p class="text-center">HTML5</p>
			  </div>
			  <div class="col-md-2 text-center mt-5">
				<img src="static/mypf/img/css.png" alt="CSS" height="50px" width="50px"/>
				<p class="text-center">CSS</p>  
			  </div>
			  <div class="col-md-2 text-center mt-5">
				<img src="static/mypf/img/bootstrap.png" alt="Bootstrap" height="50px" width="50px"/> 
				<p class="text-center">Bootstrap</p> 
			  </div>
			  <div class="col-md-2 text-center mt-5">
				<img src="static/mypf/img/js.png" alt="JavaScript" height="50px" width="50px"/> 
				<p class="text-center">JavaScript</p> 
			  </div>
			  <div class="col-md-2 text-center mt-5">
				<img src="static/mypf/img/react.svg" alt="ReactJS" height="50px" width="50px"/> 
				<p class="text-center">ReactJS</p> 
			  </div>
			  <div class="col-md-2 text-center mt-5">
				<img src="static/mypf/img/git.svg" alt="Bootstrap" height="50px" width="50px"/> 
				<p class="text-center">Git</p> 
			  </div>

			 </div>	
			</div>

		  </div>
		</div>
	  </section>
<!----------------------------------------------------------------------------------------------------->

	<!--PROJECTS-->
	<section class="portfolio margin" id="portfolio">
        <div class="container">
            <h2 class="text-center text-uppercase text-white mb-0 text-warning">Projects</h2>
            <hr class="star-light mb-5 text-white">
			<div class="row">
			  <div class="col-sm-6">
				<div class="card bg-dark text-white shadow p-2">
				  <div class="card-body">
					<h5 class="card-title text-warning">ShoppingSite-Webapp</h5>
					<hr>
					<p class="card-text">I have made this ShoppingSite where we can shop various stuffs like clothes, electronics, 
					   shoes, watches and so on. All functionalities are embed in this webapp such as all other shopping 
					   site has. It's made through Python-Django Framework.</p>
					<a href="https://github.com/Rushabh1221/ShoppingSite-Webapp" class="btn btn-outline-info">Github Link</a>
				  </div>
				</div>
			  </div>
			  <div class="col-sm-6">
				<div class="card bg-dark text-white shadow p-2">
				  <div class="card-body">
					<h5 class="card-title text-warning">Mini Blog</h5>
					<hr>
					<p class="card-text">This is a mini blog site where we can add any topic related post, update our 
					  existing post as well as delete those post. And also we can search any particular post and read it.
					  It's a Python-Django based project.</p>
					<a href="https://github.com/Rushabh1221/Mini-Blog" class="btn btn-outline-info">Github Link</a>
				  </div>
				</div>
			  </div>
			</div>
			<div class="margin"></div>
			<div class="row">
			  <div class="col-sm-6">
				<div class="card bg-dark text-white shadow p-2">
				  <div class="card-body">
					<h5 class="card-title text-warning">CRUDapp-model</h5>
					<hr>
					<p class="card-text">This is a ModelForm based CRUD application in which we can add data 
					 through form, update those existing data and delete those data very easily. It's Python-Django
					 simple project.</p>
					<a href="https://github.com/Rushabh1221/CRUDapp-model" class="btn btn-outline-info">Github Link</a>
				  </div>
				</div>
			  </div>
			  <div class="col-sm-6">
				<div class="card bg-dark text-white shadow p-2">
				  <div class="card-body">
					<h5 class="card-title text-warning">Weather App</h5>
					<hr>
					<p class="card-text">This is a single page application which simply shows weather of different
                      origin of country and background of this app will change according to temperature.</p>
					<a href="https://github.com/Rushabh1221/minified-WeatherApp" class="btn btn-outline-info">Github Link</a>
				  </div>
				</div>
			  </div>
			</div>
		</div>
	</section>

{% endblock %}